# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# wic live
_install

backend/maps
backend/patches
backend/_maps.json
backend/_patches.json
backend/keys.json
backend/uploads-tmp
backend/build
backend/src/get-ssl-credentials.ts
backend/publish.sh
backend/publish.ps1
automation/setup.log
automation/tmp.iss

src-tauri/tauri-sign.key

act.exe
.github/token

docs

_build/src
_build/.env